[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = git://github.com/eschulte/rinari
[submodule "site-lisp/rvm"]
	path = site-lisp/rvm
	url = git://github.com/senny/rvm.el
