[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = git://github.com/eschulte/rinari
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = git://github.com/magnars/js2-refactor.el.git
[submodule "site-lisp/golden-ratio"]
	path = site-lisp/golden-ratio
	url = git://github.com/roman/golden-ratio.el.git
[submodule "site-lisp/scala-mode2"]
	path = site-lisp/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = git://github.com/smihica/zencoding.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "site-lisp/lockstep"]
	path = site-lisp/lockstep
	url = https://github.com/tjim/lockstep.git
[submodule "site-lisp/emacs-pry"]
	path = site-lisp/emacs-pry
	url = https://github.com/jacott/emacs-pry.git
[submodule "site-lisp/jslint-reporter"]
	path = site-lisp/jslint-reporter
	url = git@github.com:FND/jslint-reporter
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git@github.com:slime/slime.git
